.title {
    color: #00b3ee;
}

.center {
    align-content: center;
    justify-items: center;
    text-align: center;
}

.required:after {
    content: ' *';
    color: red;
}

.error {
    color: red;
}